<!-- Profile Section Component -->
<section class="profile-section fade-in" id="about">
    <div class="profile-image">
        <img src="images/profile.jpg" alt="Felix Oyeleke - Developer and Creator" width="200" height="200" loading="lazy" onerror="this.src='images/profile-placeholder.svg'">
    </div>
    <div class="profile-content">
        <h1>I'm Felix -- a developer and creator.</h1>
        <p>
            I started as a software developer building web applications and mobile apps, 
            but now I do a mix of everything from full-stack development to creating 
            digital products. I also share my knowledge through writing and teaching. 
            You can find out more <a href="#about-detailed" class="link">about me here.</a>
        </p>
    </div>
</section>
